*
!*/

.husky
.vscode
.github

.DS_Store
.docusaurus
.gitignore
.history
.next
.umi
.vercel
.VSCodeCounter
.yarn

_redirects
__fixtures__
__mocks__
# __tests__

build
coverage
dist
node_modules

!**/*.html
!*.js
!*.jsx
!*.ts
!*.tsx
