# Git
.husky
.gitignore

# GitHub
.github

# Syntax Format
.editorconfig
.eslintignore
.prettierignore
.stylelintignore

.DS_Store

# markdown mdx
*.md
*.mdx

package-lock.json
yarn.lock

*.yaml
*.yml
.stackblitzrc

LICENSE

__fixtures__
__mocks__

node_modules
.yarn
.history
build
coverage
dist
