node_modules

.husky
.vscode
.github

.DS_Store
.docusaurus
.history
.next
.umi
.gitignore
.vercel
.yarn

# Syntax Format
.editorconfig
.eslintignore
.prettierignore
.stylelintignore

package-lock.json
yarn.lock

LICENSE

build
dist
coverage
node_modules
_redirects

*.bmp
*.gif
*.jpg
*.jpeg
*.png
*.svg
*.webp
*.css
*.less
*.scss
*.sass
