# Git
.husky
.gitignore

# GitHub
.github

# Syntax Format
.editorconfig
.eslintignore
.prettierignore
.stylelintignore

.DS_Store

# markdown mdx
*.md
*.mdx

package-lock.json
yarn.lock

*.py
*.yaml
*.yml

LICENSE

.docusaurus
.yarn

build
dist
coverage
node_modules
