*
!*/

.husky
.vscode
.github

.DS_Store
.docusaurus
.gitignore
.history
.next
.umi
.vercel
.VSCodeCounter
.yarn

_redirects
__fixtures__
__mocks__
# __tests__

package-lock.json

LICENSE

build
dist
coverage
node_modules

!**/*.html
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!**/*.json
# !**/*.svg
!**/*.css
!**/*.less
!**/*.scss
